{% extends 'base.html' %}
{% block content %}
    {% if user.is_authenticated %}
        {% block header %}{{ user.username }}'s Tasks{% endblock %}
        <br />
        {% for task in user.tasks.all %}
            <h2>
                <a href="{% url 'task_view' task_id=task.id %}">{{ task.title }}</a>
            </h2>
            <h3>{{ task.subtitle }}</h3>
            <p>{{ task.body }}</p>
            <details>
                <summary>Manage Task</summary>
                <a href="{% url 'edit_task' task_id=task.id %}" role="button">Edit Task</a>
                <a href="{% url 'delete_task' task_id=task.id %}" role="button">Delete Task</a>
            </details>
            <a href="{% url 'add_task' %}">Add Task</a>
        {% endfor %}
    {% endif %}
{% endblock %}
